.container {
	display: flex;
	justify-content: center;
}

.btn {
	text-align: center;
	color: white;
	background-color: rgb(14, 68, 170);
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	margin: 0 10px;
	cursor: pointer;
	font-weight: bold;
	transition: 0.5s ease-in-out all;
}

.btn:hover {
	background-color: rgb(18, 79, 192);
}

.text-even {
	color: rgb(82, 236, 236);
}

.text-odd {
	color: rgb(255, 72, 72);
}